<div class="title">
	<h1>All Contacts</h1>
</div>
<!--  We want to loop over our array of contacts to display each of them -->
<% @contacts.each do |contact| %>
	<div class="contact-card">
		<div class="row">
			<div class="three columns">Name:</div>
			<div class="three columns"><%= contact.full_name %></div>
		</div>

		<div class="row">
			<div class="three columns">Email:</div>
			<div class="three columns"><%= contact.email%></div>
		</div>
		
		<div class="row">
			<div class="three columns">Phone Number:</div>
			<div class="three columns"><%= contact.phone_number %></div>
		</div>
		<div class="row">
			<div class="three columns">
				<button><a href="/contacts/<%= contact.id %>">Show</a></button>
			</div>
		</div>
	</div>
	<%= erb :'/contact/contact_partial' %>
<!-- We need this end for our loop -->
<% end %>